
  /*.hahaimage {
    position: relative;
    left: 30px;
  }
  .divhasbananaphoto {
    width: 618;
    height: 618;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .divwebpage{
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  } */

  .fa {
    padding: 2px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    margin: 5px 2px;
    border-radius: 50%;
  }
  .fa-linkedin {
    color: black;
  }
  .fa-instagram {
    color: black;
  }
  .fa-google {
    color: black;
  }
  .hahaimage {
    padding: 10%;
    position: relative;
    text-align: right;
  } 
  .divhasbananaphoto {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .divwebpage{
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .aboutMe {
    
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding: 10%;
    text-align: left;
  }

  .navbar {

    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }


 