
  .hahaimage {
    position: relative;
    left: 30px;
  }
  .divhasbananaphoto {
    width: 618;
    height: 618;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .divwebpage{
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }